@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 640px) {
  h2 {
    font-size: 3.5rem; /* Adjust the font size as needed for small devices */
  }
}

@media (min-width: 640px) {
  h2 {
    font-size: 4rem; /* Adjust the font size as needed for medium devices */
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 6rem; /* This is the original 6xl size for large devices */
  }
}


:root {
  --spotify-green: #1DB954;
  --spotify-black: #191414;
  --spotify-white: #ffffff;
  

  --foreground-rgb: 255, 255, 255; /* White text */
  --background-start-rgb: 25, 20, 20; /* Spotify black */
  --background-end-rgb: 25, 20, 20; /* Spotify black for a solid color background */
}
.text-spotify-black {
  color: #191414; /* Assuming this is the Spotify black when hovered */
}
/* Additional CSS */
.tilt-left {
  display: inline-block;
  transform: rotate(-10deg);
}

.tilt-right {
  display: inline-block;
  transform: rotate(10deg);
}

.custom-rounded-btn {
  border-radius: 30px; /* or any other value you prefer */
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 25, 20, 20;
    --background-end-rgb: 25, 20, 20;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.tooltip {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}

.tooltip .question-mark-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px; /* Spacing between the symbol and the tooltip */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--spotify-white);
  color: var(--spotify-black);
  cursor: pointer;
  font-weight: bold;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 280px; /* Adjust width as needed */
  background-color: var(--spotify-black);
  color: var(--spotify-white);
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: -35px; /* Adjust bottom as needed */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Tooltip adjustments for smaller screens */
@media (max-width: 480px) {
  .tooltip .tooltiptext {
    min-width: 90%;
    bottom: -40px; /* Increase bottom value if tooltip is too close to the symbol */
  }
}


/* Adjust the tooltip for small screens */
@media (max-width: 480px) {
  .tooltip .tooltiptext {
    width: 90%; /* Full width on small screens */
    left: 5%; /* Align to the left with a small margin */
    transform: translate(0, -5px); /* Remove horizontal translation */
  }
}


.playlist-item {
  padding: 1rem; /* Adjust padding as necessary */
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; /* Prevents text from overflowing */
}

.playlist-item div {
  flex: 1; /* Allows div to grow and shrink as needed */
  min-width: 0; /* Allows text to truncate */
}

.playlist-item .text-right {
  text-align: left; /* Align text to the left for better spacing */
  padding-left: 0.5rem; /* Space between image and text */
  white-space: nowrap; /* Prevent text from wrapping to new line */
  overflow: hidden; /* Hide text that overflows */
  text-overflow: ellipsis; /* Show ellipsis for overflowed text */
}

/* Responsive font sizes */
.text-sm { /* Small text */
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

@media (max-width: 640px) { /* Tailwind's 'sm' breakpoint */
  .text-sm {
    font-size: 0.75rem; /* 12px for mobile */
    line-height: 1rem; /* 16px for mobile */
  }
  .text-xs {
    font-size: 0.65rem; /* Smaller text for mobile */
    line-height: 0.75rem; /* Tighter line-height for mobile */
  }
}

.language-toggle {
  padding: 0.5em 1em;
  border: none;
  background-color: white;
  color: var(--spotify-green);
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.language-toggle.isEnglish {
  background-color: var(--spotify-green);
  color: white;
}

.grid-cols-auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}